/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');
html{
    scroll-behavior: smooth;
}
/* Style clear  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body font added  */
body{
    font-family: 'Poppins', sans-serif;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    max-width:100;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h2{
    margin-left: auto;
}
#menu ul{
    display: flex;
    list-style: none;
    margin-left: 300px;
}
#menu ul li a{
    text-decoration: none;
    color: black;
    margin: 10px;
    padding: 10px;
}

/* main part style  */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* banner styles  */
#first-part{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 70%;
}
.influencer h1{
    font-size: 52px;
    font-weight: 700;
}
.influencer p{
    font-size: 16px;
    margin-bottom: 16px;
    
}
.prebook-button{
    width: 196px;
    height: 44px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    background-color: #E02C6D;
    padding: 10px 24px;
    border-radius: 41px;
}
.camera-img{
    width: 440px;
    height: 414px;
    margin-left: 133px;
}

/* sponsors styles */
.sponsors{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    border-top:1px solid rgb(211, 211, 211) ;
    border-bottom:1px solid rgb(211, 211, 211) ;
}
.sponsors img{
    margin-right: 60px;
}
/* Collection styles  */
.collection-title{
    font-weight: 600;
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;
}
.items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.item img{
    width: 300px;
    height: 256px;
    padding: 17px 14px;
}
.item{
    width: 329px;
    height: 476px;
    padding: 17px 14px;
    border-radius: 6px;
    box-shadow: 1px 1px 5px rgb(177, 172, 172);
}
.item-details{
    padding: 17px 14px;
}
.item-details h2{
    font-size: 28px;
    font-weight: 500;
}
.rating{
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
}
.price{
    font-size: 24px;

}
.fa-star {
    color: #FB8200;
}
.fa-star-half-alt{
    color:#FB8200;
}
.rating-point{
    margin-left: 8px;
}
.item-description{
    color: #787885;
    font-size: 14px;
    font-weight: 700;

}
.seemore-button{
    text-decoration: none;
    display: block;
    margin-top: 50px;
    color: #E02C6DDE;
    float: right;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 100px;

}
/* Contact us styles  */
#contact-info{
    width: 70%;
}
.contact-us h1 {
    font-size: 28px;
    text-align: center;
    font-weight: 600;
}
.contact-us p{
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
}
.login-container{
    display: flex;
    justify-content: center;
    
}
.login-form {
    display: grid;

}
button{
    margin-bottom: 100px;
}

.login-form input,select, textarea, button{
    font-size: 1.3em;
    margin-top: 15px;
    border: 1px solid lightgray;
    padding-left: 10px;
}


button{
    margin-left: auto;
    padding: 10px 17px;
    color: white;
    background-color:#E02C6DDE ;
    border-radius: 5px;
}
/* footer styles */
footer{
    background-color: black;
    text-align: center;
    color: white;
    
}
footer h1{
    margin-bottom: 3px;
    padding-top: 50px;
    font-size: 24px;
    
}
.fa-facebook, .fa-instagram,.fa-twitter{
    margin-right: 16px;
}
